<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item href="#home" (click)="setTitle('Posisi di Home!')" routerLink="/">Home</button>
  <button mat-menu-item href="#butonkuy" (click)="setTitle('Posisi di Button!')" routerLink="/button">Buton</button>
  <button mat-menu-item href="#tabelku" (click)="setTitle('Posisi di Tabelku!')" routerLink="/tableku">Tabelku</button>

</mat-menu>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

  <router-outlet></router-outlet>
